@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@font-face {
    font-family: 'BebasFont';
    src: url("/movieset/font/Bebas-Regular.otf") format("opentype");
}
@font-face {
    font-family: 'RoundsFont';
    src: url("/movieset/font/TT\ Rounds\ Neue\ Trial\ Medium.ttf") format("truetype");
}

:root {
    --primary-color: #333F62;
    --secondary-color: #0C1121;
    --buttons-color: #8C3A32;
    --text-button-color: #EEC23B;
    --background-image-color: #D9D9D9;
    --text-color: #ffffff;
    --selection-background-color: #525C7B;
}

* {
    font-family: 'RoundsFont', 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background-color: var(--primary-color);
    color: var(--text-color);
    padding: 20px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    background-color: var(--secondary-color);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

h1 {
    font-family: 'BebasFont', 'Courier New', Courier, monospace;
    text-align: center;
    margin-bottom: 20px;
    font-size: 2.5rem;
}

.content {
    display: flex;
    gap: 20px;
}

.image-upload {
    flex: 1;
    background-color: var(--background-image-color);
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

#image-label {
    cursor: pointer;
    padding: 10px 20px;
    background-color: var(--movie-title-color);
    border-radius: 5px;
    color: var(--text-color);
}

#movie-image {
    display: none;
}

.movie-details {
    flex: 1;
    display: grid;
    gap: 15px;
}

.movie-title {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    gap: 10px;
    align-items: center;
}

.movie-title input {
    font-size: 1.2em;
    font-weight: bold;
    color: var(--text-color);
}

.directed-by {
    font-size: 0.8em;
    white-space: nowrap;
}

.movie-info {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

input[type="text"], select, textarea {
    width: 100%;
    padding: 8px;
    background-color: var(--hero-color);
    border: 1px solid var(--text-color);
    border-radius: 5px;
    color: var(--text-color);
    box-sizing: border-box;
}

.genre-selection {
    display: grid;
    gap: 10px;
}

#genre-dropdown {
    background-color: var(--selection-background-color);
    border-radius: 5px;
    padding: 8px;
    color: var(--text-color);
    border: 1px solid var(--text-color);
}

.genre-labels {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 10px;
}

.genre-label {
    background-color: var(--buttons-color);
    color: var(--text-color);
    border: none;
    padding: 8px 12px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 0.9em;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.genre-checkbox {
    display: none;
}

.genre-checkbox:checked + .genre-label {
    background-color: var(--movies-section-color);
    color: var(--primary-color);
}

/* Responsive adjustments */
@media (max-width: 600px) {
    .genre-labels {
        grid-template-columns: 1fr 1fr;
    }
}

textarea {
    height: 100px;
    resize: vertical;
}

#add-movie {
    background-color: var(--buttons-color);
    color: var(--text-button-color);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.4em;
    justify-self: end;
    font-family: 'BebasFont', 'Courier New', Courier, monospace;
}

.separator {
    text-align: center;
    margin: 20px 0;
    position: relative;
}

.separator::before,
.separator::after {
    content: "";
    display: inline-block;
    width: 40%;
    border-top: 1px solid var(--text-color);
    position: absolute;
    top: 50%;
}

.separator::before {
    left: 0;
}

.separator::after {
    right: 0;
}

.separator span {
    background-color: var(--secondary-color);
    padding: 0 10px;
    position: relative;
    z-index: 1;
}

#view-movies {
    display: block;
    width: 100%;
    background-color: var(--buttons-color);
    color: var(--text-button-color);
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-size: 1.4em;
    cursor: pointer;
    font-family: 'BebasFont', 'Courier New', Courier, monospace;
}

/* Responsive adjustments */
@media (max-width: 600px) {
    .content {
        flex-direction: column;
    }

    .movie-title {
        grid-template-columns: 1fr;
    }
    
    .movie-info {
        grid-template-columns: 1fr;
    }
}

footer {
    text-align: center;
    margin-top: 20px;
}

footer > a {
    color: var(--text-button-color);
    text-decoration: none;
}

footer > a:hover {
    text-decoration: underline;
}