@font-face {
    font-family: 'BebasFont';
    src: url("../font/Bebas-Regular.otf") format("opentype");
}

@font-face {
    font-family: 'RoundsFont';
    src: url("../font/TT\ Rounds\ Neue\ Trial\ Medium.ttf") format("truetype");
}

:root {
    --primary-color: #333F62;
    --secondary-color: #8C3A32;
    --hero-color: #8C3A32;
    --hero-accent-color: #ffffff;
    --text-color: #ffffff;
    --error-color: #ff6f61;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: 'BebasFont';
    background-color: var(--primary-color);
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

header {
    background: linear-gradient(to bottom, #04060c 0%, rgba(12, 17, 33, 0.9) 40%, rgba(12, 17, 33, 0.5) 70%, transparent 100%);
    padding: 2rem;
    width: 100%;
    display: flex;
    justify-content: left; 
    align-items: center;
}


.error-section {
    max-width: 600px;
    padding: 2rem;
    border-radius: 8px;
}

.error-section h1 {
    font-family: 'BebasFont', sans-serif;
    font-size: 3rem;
    color: var(--error-color);
    margin-bottom: 1rem;
}

.error-section p {
    font-size: 1.2rem;
    color: var(--text-color);
    margin-bottom: 2rem;
}
.logo{
    margin-right: 5rem;
   
}
.logo>img{
    height: 8rem;
    
}
.btn-home {
    padding: 1rem 2rem;
    background-color: var(--hero-accent-color);
    color: var(--primary-color);
    text-decoration: none;
    font-size: 1.2rem;
    border-radius: 50px;
    transition: background-color 0.3s ease;
}

.btn-home:hover {
    background-color: var(--secondary-color);
}

footer {
    text-align: center;
    margin-top: 3rem;
    font-size: 1rem;
    color: var(--text-color);
}
